{% extends 'base.html.twig' %}

{% block body %}
   
 <h1>{#{{ page }}#}</h1>
 
    {% if app.user %}
        <div class="mb-3">
            Bienvenu {{ app.user.username }}, <a href="{{ path('app_logout') }}">Se deconnecter</a>
            <a class="nav-link" href="{{path('page')}}"><i class="fa fa-fw fa-search"></i>Suivi</a>
        </div>
    {% else %}
        <a href="{{ path('app_login') }}">Se connecter</a>
    {% endif %}
{% endblock %}

